<!--    /**
          *  Dating Site Assignment
          *  Author: Zane Stearman
          *  Date:   04/14/2019
          */-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Date-Night</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>

<div class="jumbotron text-center datenight">
    <!--    <div class=" overlay-mf">-->
    <h1>=^o.o^=Date-Night~~</h1>
    <h2> -Exclusive Dating site for plus sized felines-</h2>
    <!--    </div>-->
</div>

<div class="container" style="margin-top:30px">